// $main-back: #0A1013;
$main-back:#b4cbc3;
$contact-back:#ffffff;
$main-font-col: #141b52;
$main-dark-col:#141b52;
$main-light-col: #b4cbc3;
$fourth-header-size: 20px;
$third-header-size: 27px;
$second-header-size: 34px;
$main-nav-col: #141b52;
$link-hover-col: #448E9D;
$bright-blue: #448E9D;
$caption-size: 40px;
$header-back: #ffffff;
$main-pic: $header-back url('../img/main-back.jpg') no-repeat center center;
$footer-font-col: #535353;
$footer-caption-col: #44423C;
$arial: Arial, Helvetica, sans-serif;
$oswald: 'Oswald', Arial, Helvetica, sans-serif;
$raleway: 'Raleway', Arial, Helvetica, sans-serif;
$garamond: 'EB Garamond', Arial, Helvetica, sans-serif;
$opensans: 'Open Sans';
$button-col: #141b52;
$border-test: none;



//BREAKPOINTS

$large: "only screen and (max-width : 1370px)";
$medium: "only screen and (max-width : 768px)";
$small: "only screen and (max-width : 430px)";


@keyframes hovering {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(3px)
    }
    40% {
        transform: translateY(0)
    }
    80% {
        transform: translateY(-3px)
    }
    100% {
        transform: translateY(0px)
    }
}

html, body, #root {
    padding: 0;
    margin: 0;
    border: none;    
    font-family: $oswald;
    color: $main-font-col;
}

a {
    transition: all .2s ease;
    display: inline-block;
    position: relative;
    text-decoration: none;

    &::after {
        content: '';
        background: transparent;
        position: absolute;
        height: 3px;
        bottom: -3px;
        left: 0;
        right: 0;
        transition: all .2s ease;
    }

    &:hover {
        color:$link-hover-col;

        // &::after {
        //     background: $bright-blue;
        // }
    }
}

html, body {
    height: 100%;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: $caption-size;
    margin-bottom: 20px;

    @media #{$small} {
        font-size: $second-header-size; 
    }
}

h2 {
    font-size: $second-header-size;
}

h3 {
    font-size: $third-header-size;
}

h4 {
    font-size: $fourth-header-size
}

p {
    font-size: 18px;
}






#root {
    background: $main-back;
    min-height: 100%;
}



.home {        
    &__header{
        height: 100vh;
        background: $main-pic;   
        background-size: cover;
        
        @media #{$small} {
            background-position: 0 0;
        }
    }


    &__scroll-down {
        width: 64px;
        height: 70px;
        background: url('../img/down.png') no-repeat;
        margin-top: 20px;
        animation: hovering 1s ease-in-out infinite; 
        
        @media #{$small} {
            display: none;
        }
    }

    &__intro {
        color: $main-dark-col;
        font-weight: bold;
        width: 70%;
        
        font-size: $second-header-size;
        margin-top: 20px;
        padding:15px;
        border: $border-test;
        font-size: 22px;

        @media #{$medium} {
            // font-size: $third-header-size; 
            width: 100%;
            margin-top: 0px;
        }


        @media #{$small} {
            width: 100%;
            // font-size: 18px;
            margin-top: 0px;
            padding:5px;
        }

        @media screen and (min-width: 1280px) {
            font-size: 30px;
          }

        @media screen and (min-width: 320px) {
            font-size: calc(22px + 8 * ((100vw - 320px) / 960));
          }
    }

    &__intro-sec {
        // font-size: $home-text-sub;
        font-size: 14px;
        font-family: $arial;
        width: 70%;
        padding:1em;
        background-color:rgba(255, 255, 255, 0.7);
        border: $border-test;


        @media screen and (min-width: 1280px) {
            font-size: 18px;
          }

        @media screen and (min-width: 320px) {
            font-size: calc(14px + 4 * ((100vw - 320px) / 960));
          }

        @media #{$small} {
            display:none;
            
        }
    }

    &__caption {
        font-size: $second-header-size;
        color: $main-dark-col;
        margin-top: 20px;
        transition: all .3s ease;
        cursor: pointer;
        border: $border-test;
        
        // @media #{$medium} {
        //     font-size: $third-header-size; 
        // }


        // @media #{$small} {
        //     font-size: $fourth-header-size; 
        // }

        @media screen and (min-width: 1280px) {
            font-size: 30px;
          }

        @media screen and (min-width: 320px) {
            font-size: calc(22px + 8 * ((100vw - 320px) / 960));
          }

        &:hover {
            color: $bright-blue;
        }
    
    }
    
}


.wrapper {
    margin: 0 auto;
    max-width: 1088px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 100%;
    padding: 40px 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    border: $border-test;

    @media #{$large} {
        padding: 60px 20px;
    }

    &--header, &--footer{
        flex-direction: row;
        align-items: flex-start;
        padding: 0;

        @media #{$large} {
            padding: 0 20px;
        }
    }   

    &--footer {
        @media #{$large} {
            justify-content: center;
        }

        @media #{$medium} {
            flex-direction: column;
            align-items: center;
        }
    }
}

.logo {
    width: 254px;
    height: 91px;
    background: url('../img/logo.png') no-repeat;  

}

.home__about {
    width: 100%;
    min-height: 356px;
    background:$main-back;
    }



.landing {
    width: 100%;
    min-height: 356px;
    background: $main-back;
    border: $border-test;

    &__intro {
        align-self: flex-start;
        border: $border-test;
        padding-top: 1em;

        h1{
            font-weight: bold;
        }

        span{
            color:#fff;
        }
    }
    
    
    .landing__content {
        max-width: 1088px;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        border: $border-test;
    }

    .landing__btn{
        display:flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: $border-test;      
    }
}

.home__contact {
    width: 100%;
    min-height: 356px;
    background: $contact-back;
    border: $border-test;

     

    &-container{
        // align-self: flex-start;
        padding: 1em;
        border: $border-test;

        span{
            font-weight: bold;

        }
    }
}


.main-nav {
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 40px;
    flex-grow: 1;
    font-size: $third-header-size;
    border: $border-test;

    @media #{$medium} {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 20px;
        justify-content: flex-start;
        font-size: $fourth-header-size;
    }

    @media #{$small} {
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: $fourth-header-size;
    }

    &--header {
        font-size: 21px;
        margin-top: 26px;
        justify-content: flex-start;

        @media #{$medium} {
            display: none;
        }

        >a {
            margin-right: 85px;            
        }
    }

    &--sidebar {
        width:100%;
    }

    &__item {
        text-transform: uppercase;
        display: inline-block;
        color: $main-nav-col;  
        
        @media #{$medium} {
            margin: 0 0 20px 0;
        }
        
        &.active{
            color: $link-hover-col;

            &::after {
                background: $bright-blue;
            }
        }
    }
}


.header {
    background: $header-back;
    height: 83px;    
    position: relative;
    z-index: 5;

    .logo {
        margin-top: 15px;
        width: 138px;
        background-size: 100%;
        margin-right: 85px;
    }

    &__logo-link {

        @media #{$medium} {
            flex-grow: 1;
        }
        &::after {
            display: none;
        }
    }

    &__menu {
        width: 23px;
        height: 23px;
        background: url('../img/menu.svg') no-repeat;
        background-size: cover;
        margin-top: 30px;
        cursor: pointer;
        display: none;

        @media #{$medium} {
            display: block;
        }
    }
}

.contact__form-container {
    align-self: flex-start;
    width: 70%;
    border: $border-test;
    background: #fff;
    padding: 1em;
    box-shadow: 0 0 10px 0 rgba(72,94,116, 0.7);

    @media #{$medium} {
        width: 100%;
    }
}

.footer{
    width: 100%;
    min-height: 356px;
    background: $main-dark-col;
    color: #ffffff;
    padding: 45px 0 40px;        
    box-sizing: border-box;   
    border: $border-test;



    &__contact {
        width: 50%;
        border: $border-test;
        min-width: 280px;
        

        @media #{$large} {
            margin-bottom: 40px;
            align-items: center;
            order: 1;
        }      
    }

    &__blog-posts {
        width: 50%;
        border: $border-test;
        
        @media #{$large} {
            margin-bottom: 40px;
            order: 2
        }        
    }

}




.sidebar {
    position: fixed;
    top: 83px;
    bottom: 0;
    right: 0;
    width: 80%;
    background: $header-back;
    z-index: 5;    
}

.offer-item{
    float: left;
    width:33%;
    border:$border-test;
    padding:2em 3em;
    text-align: center;
    flex-grow: 1;

    .box-icon {
        
        a {
            color:$main-dark-col;
        }

        .offer__title{
            font-family: $opensans;
            padding: 0.5em 0.5em 0 0.5em;
            border: $border-test;
        }
    }


    @media #{$medium} {
        width:100%;
        float:none;
      }
}



.contact__form {
    max-width: 800px;

    textarea, input{
        width: 100%;
        padding: 1em;
        border: 1px solid #b4cbc3;
        }
}


.wrapper-form {
    box-shadow: 0 0 20px 0 rgba(72,94,116, 0.7);
    @media(min-width:768px){
        display: grid;
        grid-template-columns: 1fr 2fr;
        }
}

.wrapper-form > *{
    padding: 1em;
    
    @media(min-width:768px){
        padding: 2em
        }
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $button-col;
    border: none;
    color: #fff;
    font-family: $oswald;
    text-transform: uppercase;
    font-size: 21px;
    width: 195px;
    height: 45px;    
    cursor: pointer;
    transition: all .3s ease;
    
    
    &:hover{
        background: none;
        border: solid;
        border-color: $main-dark-col;
        color: $main-dark-col;
    }
}


.oferta {
    width: 100%;
    min-height: 356px;

    .oferta__heading {
        text-align: center;
        font-size: $caption-size;
        font-weight: bold;
        position: relative;
        margin-bottom: 30px;
        margin-top: 0px;
        border: $border-test;
    }
}

.oferta__item{
        &-title{
            border-left: 4px solid white;
            margin-left: 20px;
            padding:10px  0  10px 10px;
        }

        &-opis{
            padding: 1em  30px 1em 30px ;
            font-family: $opensans;
        }
}


.offer-extended {
    
    .title {
        font-size: $caption-size;
        align-self: flex-start;
        margin-left: 30px;
        padding-left: 10px;
        margin-bottom: 15px;
        border-left: 4px solid #fff;
    }


    .opis__main{
        border: $border-test;
        padding: 30px; 
    }

    .opis__msg {
        padding: 0px;
    }
    
    .blockquote{

        font-family:$opensans;
        font-size:18px;
        font-style:italic;
        padding:1.2em 30px 1.2em 60px;
        line-height:1.6;
        position: relative;
        border: $border-test;
      }
      
      .blockquote::before{
          font-family:Arial;
          content: "\201C";
          color:#fff;
          font-size:4em;
          position: absolute;
          left: 10px;
          top:-10px;
        }
        
        .blockquote::after{
          content: '';
        }

    &__btn {
        align-self: flex-start;
    }
}

.cennik {
  
    // .cennik__heading {
    //     text-align: center;
    //     font-size: $caption-size;
    //     font-weight: bold;
    //     position: relative;
    //     margin-bottom: 30px;
    //     margin-top: 0px;
    //     border: $border-test;
    // }
    &-items{
        width:100%;
    }
}

.cennik__item{

    &-title{
        border-left: 4px solid white;
        margin-left: 20px;
        padding:10px  0  10px 10px;
    }

    &-opis{
        padding: 1em  30px 0em 30px ;
        font-family: $opensans;
    }

    &-remark{
        padding: 0em  30px 1em 30px ;
    }
}




.about {
    width: 100%;
    min-height: 356px;
    background:$main-back;

    .about__heading {
        align-self: flex-start;
        font-weight: bold;
        font-size: $caption-size;
        position: relative;
        margin-bottom: 30px;
        margin-top: 0px;
        padding-left: 1em;
        border: $border-test;

    }
}

.onas-item{
    float: left;
    width:33.3%;
    padding:1em 1em;
    align-items: center;
    border:$border-test;
    

    &__info {
        border: $border-test;
    }
    &__name{
        padding:1em 0em;
        min-height: 100px;
        border: $border-test;
    }

    &__opis{
        min-height: 80px;
        font-family: $arial;
        border: $border-test;
    }


    @media #{$medium} {
        width:49%;

      }

      @media #{$small} {
        width:100%;
        float:none;
      }
}


.contact {
    width: 100%;
    border: $border-test;

    .container{
        margin-top: 1em;
        padding:2em;
        background-color: white;
    }

    .contact__heading {
        padding: 0px;
        align-self: flex-start;
        border: $border-test;
        margin-left: 30px;

        span{
            font-weight: bold;
        }
    }
}

.contact-direct{
    width: 100%;
    padding: 1em;

    &__container{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        align-items: flex-start;
        padding: 0;
        border: $border-test;

        @media #{$medium} {
            flex-direction: column;
        }
    }
    &-email{
        width: 50%;
        border: $border-test;
        padding: 1em;

        @media #{$medium} {
            width: 100%;
        }

    }

    &-phone{
        width: 50%;
        padding: 1em;

        @media #{$medium} {
            width: 100%;
        }


    }

}

.personal {

    &__img {
        float: right;
        margin-bottom: 10px;
        border: $border-test;
        padding-left: 50px;
        max-width: 100%;
        max-height: 100%;
        
        @media #{$small} {
            float:none;
            padding: 10px;
        }
    }
    
    .imie {
        font-size: $caption-size;
        align-self: flex-start;
        margin-left: 30px;
        padding-left: 10px;
        margin-bottom: 15px;
        border-left: 4px solid #fff;
    }

    .opis {
        border: $border-test;
        padding-left: 30px;
        font-size: $fourth-header-size;
    }

    .opis__main{
        border: $border-test;
        padding: 30px; 
    }

    .opis__msg {
        padding: 0px;
    }
    
    .blockquote{

        font-family:$opensans;
        font-size:18px;
        font-style:italic;
        padding:1.2em 30px 1.2em 60px;
        line-height:1.6;
        position: relative;
        border: $border-test;
      }
      
      .blockquote::before{
          font-family:Arial;
          content: "\201C";
          color:#fff;
          font-size:4em;
          position: absolute;
          left: 10px;
          top:-10px;
        }
        
        .blockquote::after{
          content: '';
        }


    .personal__btn {
        align-self: flex-start;
    }
}



.footer-contact-info{
    padding: 20px;

    .contact-info{
        list-style: none;
        display: block;
        font-family: $arial;
        color: $main-light-col;
        border: $border-test;
    }

    ul{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }
    span{
        font-weight: bold;
        color: #fff;
    }

    li{
        margin: 10px 0;
    }
}


